<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">
           
           <bean class="com.project.wallet.Wallet" id="walletID">
           <constructor-arg value="101"></constructor-arg>
           <constructor-arg value="Red"></constructor-arg>
           <constructor-arg value="woodland"></constructor-arg>
           <constructor-arg value="1000"></constructor-arg>
           <constructor-arg  ref="materialID"></constructor-arg>
           <constructor-arg  ref="moneyID"></constructor-arg>
           <constructor-arg  ref="atmCardID"></constructor-arg>
           <constructor-arg  ref="photoID"></constructor-arg>
      </bean>
      <bean class="com.project.wallet.Material" id="materialID">
      <constructor-arg value="2.5"></constructor-arg>
      <constructor-arg value="leather"></constructor-arg>
      <constructor-arg value="2.3"></constructor-arg>
      <constructor-arg value="800"></constructor-arg> 
      </bean>
      <bean class="com.project.wallet.Money" id="moneyID">
      <constructor-arg value="coin"></constructor-arg>
      <constructor-arg value="500"></constructor-arg>
      </bean>
      <bean class="com.project.wallet.ATMCard" id="atmCardID">
      <constructor-arg value="975656545645"></constructor-arg>
      <constructor-arg value="234"></constructor-arg>
      <constructor-arg value="White"></constructor-arg>
    
      </bean>
      <bean class="com.project.wallet.Photo" id="photoID">
      <constructor-arg value="blockAndWhite"></constructor-arg>
      <constructor-arg value="2.3"></constructor-arg>

      </bean>



</beans>